map-page {
    agm-map{
        height: 100%;
        width: 100%;
    }

    #locationImage{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    #markerTitle{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
        display: block;
    }

    #detailButton{
        background-color: #f5613c; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 14px;
        margin-left: auto;
        margin-right: auto;
    
    }

}
