page-location-detail {
   

   .vibeIcon {
    text-align: center;
   }

   .favIconOn {
    text-align: center;
   }

  .favIconDiv{
    text-align: center;
  }

    .toast {
        background-color: "primary";
        color: "primary";
        text-align: center;
    }

    ion-slide{
        display: block !important;
        align-items: unset !important;
      }
}
