page-location-detail {
   

    #favButton {
        position: absolute;
        right: 10%;
    }

    .toast {
        background-color: "primary";
        color: "primary";
        text-align: center;
    }

    ion-slide{
        display: block !important;
        align-items: unset !important;
      }
}
