
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{location.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>       
      <div>  
        <ion-card-title>
          <button ion-button clear medium *ngIf="isFav" id="favButton" icon-only (click)="toggleFavourite(location)">
            <ion-icon name="star" color="favourite"></ion-icon>
          </button>
          <button ion-button clear medium *ngIf="!isFav" id="favButton" icon-only (click)="toggleFavourite(location)">
            Add to Favourites
            <ion-icon name="star"></ion-icon>
          </button>
        </ion-card-title>            
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-slides *ngIf="location?.images" pager="true" centeredSlides="true">
        <ion-slide *ngFor="let image of location.images">
          <img [src]=image alt="location.name" height="490" width="490">
        </ion-slide>
      </ion-slides>
    </ion-card-content>
    <br>
    <br>
    <ion-card-content>
      {{location?.description}}
    </ion-card-content>
    <ion-card-content>
      {{location?.street}} <br>  
      {{location?.city}}, {{location?.province}} <br>
      {{location?.postal}}         
    </ion-card-content>
    <ion-card-content>
      {{location?.status}}
    </ion-card-content>
  </ion-card> 
</ion-content>
