page-location-list {
    #locationImage{
        display: inline;
        left: 0px;
    }

    #icon{
       position: absolute;
       right: 0px;
       padding: 10px;

    }

    #vibeIcon{
        display: inline;
        position: absolute;
        right: 20px;
    }

    #description{
        padding-left: 4px;
    }

    #title{
        text-align: center;
    }
}
