page-location-list {
    #locationImage{
        display: inline;
    }

    #icon{
       position: absolute;
       right: 0px;
       padding: 10px;

    }

    #vibeIcon{
        display: inline;
        position: absolute;
        right: 20px;
    }
}
